.repositoryItem {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
  }

  .repositoryItem:hover {
    background-color: rgb(243, 243, 244);
    cursor: pointer;
  }

  .repositoryItem:last-child {
    border-radius: 0 0 10px 10px; /* Change border-radius for the last child */
  }
  
  .repositoryHeader {
    display: flex;
    margin: 0 0 20px 0;
  }

  .repositoryHeader h2 {
    font-size: 18px;
    margin: 0 10px;
  }
  
  .visibility {
    padding: 3px;
    margin: 0 8px 0 0;
    border: 0.5px solid #489cf7;
    border-radius: 15px;
    font-size: 12px;
    background-color: #dcedff;
    color: #489cf7;
  }
  
  .repositoryDetails {
    display: flex;
    margin: 0 20px 0 0;
    font-size: 0.8em;
    color: #666;
  }

  @media (max-width: 768px) {
    .repositoryDetails {
      font-size: 8px;
    }
  }

  .repositoryDetails .dot {
    font-size: 8px;
    color: #489cf7;
    background-color: #489cf7;
    border-radius: 50%;
  }

  .repositoryDetails span {
    margin: 0 8px;
  }

  .detailIcon {
    margin-right: 3px;
    vertical-align: middle;
  }