.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 94vh;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  transform: translateY(0);
}

.burgerButton {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  z-index: 1001;
}

.userSelect,
.menuList,
.sidebarFooter {
  display: block;
}

.sidebarLogo {
  width: 100%;
  margin-bottom: 20px;
}

.menuList {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.userSelect {
  width: 100%;
  /* margin-bottom: 20px; */
  padding: 8px;
  border-radius: 10px;
}

.menuList li {
  /* margin: 15px 0 15px 0; */
  cursor: pointer;
  padding: 10px 20px;
}

.menuList li.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
}

.sidebarFooter {
  margin-top: auto;
}

.sidebarFooter p {
  cursor: pointer;
  margin: 10px 0 10px 15px;
}

.menuIcon {
  margin-right: 10px;
  vertical-align: middle;
}

.sidebarLogo {
  width: 90%; /* Adjust the width as needed */
  margin: 0 50px 20px 0; /* Center the logo and add some margin */
  display: block;
}

.mobileNavbar {
  display: none;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbarLogo {
  width: 120px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    transform: translateY(-100%);
    padding-top: 70px;
  }

  .sidebar.open {
    transform: translateY(0);
  }

  .burgerButton {
    display: block;
    margin-right: 40px;
  }

  .userSelect,
  .menuList,
  .sidebarFooter {
    display: none;
  }

  .sidebar.open .userSelect,
  .sidebar.open .menuList,
  .sidebar.open .sidebarFooter {
    display: block;
    width: 92%;
    margin-bottom: 0;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .sidebar.open ~ .overlay {
    display: block;
  }

  .mobileNavbar {
    display: flex;
  }

  .sidebarLogo {
    display: none;
  }

  .sidebarFooter p {
    margin-left: 20px;
  }
}
